@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }

  body{
  background: white;
  width:100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
  position: fixed;
  }
  header{
    width: 100%;
  }
  nav{
    background: #68A7AD;
    height: 80px;
    width: 100%;
    position: fixed;
  }

  label.logo{
    color: white;
    font-size: 35px;
    line-height: 100px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }

  nav ul li ,.action{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
  }

  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  .nava.active,.nava:hover{
    background: #41848a;
    transition: .5s;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#99d1d6;
}



.action .profile{
    position: relative;
    width: 40px;
    margin-top: 0px;
    transform: translateY(14px);
    height: 40px;
    cursor: pointer;
}

.action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.action .menu{
    position: absolute;
    top: 1px;
    right: 7px;
    padding: 20px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transform: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .menu.active{
    top: 80px;
    visibility: visible;
    opacity: 1;

}

.action .menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.action .menu h3{
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 20px 0;
    font-weight: 500;
    color: #555;
    line-height: 1.2em;;
}

.action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul li{
    list-style: none;
    padding: 1px 0;
    height: 40px;
    border-top: 1px solid rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.action .menu ul li:hover{
    height: 40px;


}

.action .menu ul li img{
    max-width: 15px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .menu ul li:hover img{
    opacity: 1;
    max-width: 15px;
    margin-right: 10px;
    
    
}

.action .menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-size: 12px;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a{
    color: #ff5d94;
    font-size: 12px;


}